
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    background: linear-gradient(rgba(0, 0 ,0, 0.5)30%, rgba(221, 193, 80, 0.7)), url(images/nicecococnut.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    background-color: rgba(0, 0, 0);
    font-family: calibri;
    padding: 0;
    width: 1200px;
    height: 75px;
    margin: 0;
    width: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:link{
    color: #5C7FA3;
}
nav a:visited{
    color: white;
}
nav a:hover{
    color: orange;
}
nav a:active{
    color: #000000;
}

.logo{
    color: orange;
    font-size: 35px;
    font-family:'Kaushan Script';
    padding-left: 30px;
    float: left;
    padding-top: 15px;
}

ul{
    margin-right: 30px;
    padding:0;

}

ul li{
    display: inline-block;
    margin-left: 40px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
}
.par{
    font-weight: bold;
    font-style: italic;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Verdana, Arial, san-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 15px;
    color: rgb(47, 47, 47);
}
.content .par span {
    background-color: rgba(254, 251, 251);
    display: inline; 
    line-height: 15px; 
    border-radius: 5px;
    padding: 0 5px;


}

.content h1{
    font-family: 'Kaushan Script';
    font-size: 80px;
    padding-left: 20px;
    margin-top: 9%;
    margin-bottom: 0;
    letter-spacing: 10px;
    color: orange;
    line-height: 1;
}

.highlight{
    font-family: 'Kaushan Script';
    font-size: 50px;
    color: rgb(241, 236, 236);
    margin-top: -10px;
}


/*------reservations-------*/

.main-bg {
    background-image: linear-gradient(rgba(0, 0 ,0, 0.3)30%, rgb(234, 182, 87)), url(images/Beach1.jpg);
    background-position: center;
    background-size: cover;
    
}
.rescontainer {
    width: 60%;
    height: 550px;
    margin: 50px auto;
    margin-top: 10px;
    background-color: rgba(14, 14, 15, 0.3);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.res{
   text-align: center;
   color: orange;
   font-family:'Kaushan Script';
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: orange;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group textarea {
    resize: none;
}
.btn-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-submit:hover {
    background-color: #0056b3;
}
.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
}

/*------cottages-------*/

.mainCottage {
    background-image: url(images/beachview.png);
  /*  width: 100%;
    height: 100%;*/
    background-position: center;
    background-size: cover;
  /*    height: 109vh;  */
   
}
.cottage_body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    height: 100vh;
}

.cottage_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*margin-top: 100px;*/

}
.cottage_title {
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 20px; 
    color: rgb(30, 29, 29);
    
}
.cottage_title h2 {
    font-size: 40px; 
    font-family:'Kaushan Script';
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 20px; 
}

.cottage_card{
    width: 325px;
    background-color: rgb(223, 221, 215);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    border: 2px solid orange;
    display: inline-block;
    padding: 5px;

}

.cottage_card img{
    width: 100%;
    height: auto;

}

.cottage_details{
    padding: 16px;
}

.cottage_details h3{
    font-size: 28px;
    margin-bottom: 8px;
    color: orange;
}

.cottage_details p{
    color: #000000;
    font-size: 15px;
    line-height: 1.3;
}

/*------Room-------*/

#room_hero{
    background-image: url(images/rooms.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.room_body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
.mainRoom {
    background-color: beige;
    background-position: center;
    background-size: cover;
}

.room_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.room_h1 {
    color: #333;
    

}

.room_card {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 50px;
    background-color: rgb(237, 179, 72);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 3px solid orange; 
    display: inline-block; 
}

.room_card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.room_details {
    padding: 20px;
}

.paragraph{
    color:#636262
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.price {
    color: darkblue;
    font-size: 18px;
    margin-bottom: 10px;
}
.room_title {
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 20px; 
    color: rgb(30, 29, 29);
    
}
.room_title h2 {
    font-size: 40px; 
    font-family:'Kaushan Script';
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 20px;
}

/*------About us-------*/

.mainF {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

.containerr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}
.content_section{
    float: left;
    width: 50%;
}

.image_section{
   float: right;
   width: 40%;
   display: flex;
   justify-content: flex-end;
   align-items: center;

}

.image_section img{ 
    max-width: 100%;
    height: auto;
    margin-top: 90px;
}

.content_section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .para{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.history, .mission, .contact {
    margin-bottom: 40px;
}

.hTwo{
    color: orange;
}

strong {
    color: darkblue;
}
.title h1{
    color: rgb(30, 29, 29);
    font-family:'Kaushan Script';
}

/*---Footer---*/

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0; 
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 768px) {

    .navbar {
        width: 100%; 
        height: auto; 
        flex-direction: row; 
        align-items: center; 
    }
    .menu {
        margin-top: 5px;
    }
    .menu ul {
        padding: 0; 
    }

    ul {
        display: flex; 
        flex-direction: column; 
        align-items: center; 

    }
    .content {
        width: 100%; 
        padding: 0; 
        text-align: center; 
    }

    .par {
        font-size: 5px; 
    }

    ul li {
        margin: 10px 0; 
    }

    .logo {
        font-size: 28px; 
    }


}
